@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Berkley Mono", monospace;

  --color-base-0: light-dark(oklch(100% 0 0), oklch(6% 0 0));
  --color-base-1: light-dark(oklch(99% 0 0), oklch(10% 0 0));
  --color-base-2: light-dark(oklch(98% 0 0), oklch(13% 0 0));
  --color-base-3: light-dark(oklch(94% 0 0), oklch(16% 0 0));
  --color-base-4: light-dark(oklch(91% 0 0), oklch(20% 0 0));
  --color-base-5: light-dark(oklch(88% 0 0), oklch(23% 0 0));
  --color-base-6: light-dark(oklch(85% 0 0), oklch(27% 0 0));
  --color-base-7: light-dark(oklch(81% 0 0), oklch(33% 0 0));
  --color-base-8: light-dark(oklch(74% 0 0), oklch(43% 0 0));
  --color-base-9: light-dark(oklch(57% 0 0), oklch(49% 0 0));
  --color-base-10: light-dark(oklch(53% 0 0), oklch(54% 0 0));
  --color-base-11: light-dark(oklch(42% 0 0), oklch(74% 0 0));
  --color-base-12: light-dark(oklch(15% 0 0), oklch(93% 0 0));

  --animate-spinner: spinner 1.2s linear infinite;
  --animate-blink: blink 1s step-end infinite;

  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  @keyframes spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.2;
    }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}

@theme inline {
  --color-background: var(--color-base-0);
  --color-primary: var(--color-base-12);
  --color-secondary: var(--color-base-11);
  --color-muted: var(--color-base-10);
  --color-accent: var(--color-mint-500);
  --color-ring: var(--color-base-10);
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    color-scheme: light dark;
  }

  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    min-width: 0;
  }

  *,
  ::before,
  ::after {
    border-color: light-dark(oklch(15% 0 0 / 0.1), oklch(93% 0 0 / 0.08));
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  @font-face {
    font-family: "Berkley Mono";
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/BerkeleyMono-Regular.woff") format("woff");
  }

  strong {
    @apply font-medium;
  }

  .focus {
    @apply outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background;
  }
}
